<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .side-bar{
            color :red;
            background-color: rgb(228, 228, 236);
            height: 90vh;
        }
        ul li {
            list-style-type: none;
            text-transform: uppercase;
            
        }

    </style>
</head>
<body>

    
            <div class=" bg-dark border side-bar ">

                <div class="side-bar ">
                    <ul class="py-3">
                        <li class="mt-2 py-3"><a href="/">Home</a> </li>
                       
                        <li class="mt-2 py-3"><a href="/user/profile">Profile</a> </li>
                       
                    </ul>
                </div>
            </div>


        
     

</body>
</html>